@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap");

:root {
  --bg-color: #333;
  --txt-color: #e2e2e2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: "Rajdhani", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

.output,
.selected-date-output,
.select-date {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  width: 80%;
}

.output p {
  margin-top: 1rem;
}

.selected-date-output {
  visibility: hidden;
}

#date-picker {
  background-color: transparent;
  color: var(--txt-color);
  padding: 0.4rem;
  margin-top: 1.2rem;
}

.button-container {
  margin: 4rem;
}

button {
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 8px;
  border: 2px solid var(--txt-color);
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  outline: none;
}

button:hover {
  background-color: var(--txt-color);
  color: var(--bg-color);
}

.explainer {
  display: none;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.4rem;
}

.explainer p {
  margin-bottom: 0.8rem;
  line-height: 2rem;
}

a {
  color: var(--txt-color);
}

.green {
  color: limegreen;
}
