@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Raleway:wght@300;500&display=swap");

:root {
  --bg-color: #333;
  --txt-color: #e2e2e2;
}

/*  reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}

header p {
  font-family: "Germania One", cursive;
  text-align: center;
  font-size: 4rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.date-container {
  font-family: "Germania One", cursive;
}

.date-container p {
  text-align: center;
  font-size: 2.8rem;
}

button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 8px;
  border: 2px solid var(--txt-color);
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  outline: none;
}

button:hover {
  background-color: var(--txt-color);
  color: var(--bg-color);
}

.explainer {
  display: none;
  font-family: "Raleway", sans-serif;
  margin: 1rem 1rem 0.8rem 1rem;
  line-height: 1.8rem;
  font-size: 1.1rem;
}

.explainer p {
  margin-top: 1rem;
}

.explainer p::first-letter,
.explainer li p::first-letter {
  font-size: 2rem;
  font-family: "Germania One", cursive;
}

.explainer li {
  list-style: none;
  text-decoration: underline;
  font-size: 1.2rem;
  margin-top: 0.9rem;
  margin-bottom: -1rem;
}

a {
  color: var(--txt-color);
}
