@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Raleway:wght@300;500&display=swap");

/*  reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: "Germania One", cursive;
  background-color: #333;
  color: #e2e2e2;
}

header p {
  text-align: center;
  font-size: 5rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.date-container p {
  text-align: center;
  font-size: 4rem;
}

button {
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 8px;
  border: 2px solid #e2e2e2;
  background-color: #333;
  color: #e2e2e2;
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  outline: none;
}

button:hover {
  background-color: #e2e2e2;
  color: #333;
}

.explainer {
  display: none;
  font-family: "Raleway", sans-serif;
  margin: 1rem 1rem 0.8rem 1rem;
  line-height: 1.8rem;
  font-size: 1.1rem;
}

.explainer p::first-letter,
.explainer li p::first-letter {
  font-weight: bolder;
  font-size: 1.3rem;
}

a {
  color: #e2e2e2;
}
